#mainDateContent {
    padding-left: 2rem;
    padding-top: 5rem;   
}

#activeNavbarItem {
    color: white;
    font-weight: normal;
}

#currentDateItem {
    color: white;
    font-weight: lighter;
    font-size: 1.5rem;
}

.mainDate {
    display: inline-block;
    width: 100%;
    height: 14rem;
    background-repeat: no-repeat center center;
    background-size: 100% 100%;
}