.newTask {
    width: 100%;
    background-color: rgb(255, 255, 255);
}  

.toDo-btn-label {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border-width: 2px;
}

.taskTitle {
    font-weight: normal;
    font-size: 1.8rem;
    color: rgb(77, 77, 77);
}

.importanceTask {
    height: 2rem;
}

.importanceTaskBtn {
    font-size: 1rem;
}

.dateDeadine {
    font-size: 1rem;
}

.toDoBtn {
    height: 2.5rem;
}

.edit-task-btn {
    background-color: rgb(255, 255, 255);
    border: 0;
}

.deleteTaskBtn {
    background-color: rgb(255, 255, 255);
    border: 0;
}