.mainContent {
    overflow-y: auto;
    height: 27rem;
    
}

#modalContent {
    border: 0.1rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}

#modalHeaderText {
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

#modalBodyForm {
    font-size: 1.35em;
}
.ui-widget-content {
    background: linear-gradient(#fa2bb5, #9198e5);
    color: white;
    border: 0;
}

.ui-widget-header {
    border: 0;
    background: 0;
    color: white;
    font-size: 1.5rem;
    border: 0;
}

.ui-state-default {
    font-size: 1.2em;
}

.ui-datepicker-hover {
    background: 0;
}

.ui-datepicker-header {
    height: 3.35em;
    padding: 0.65em;
    border: 0;
}

.ui-button:not([type="reset"]){
    background: #007bff;
    color: white;
    border: 2;
}
.ui-button:not([type="reset"]):hover {
    background: #fdfeff;
    color:  #007bff;
    border: 2;
}

.tasks > tr { 
    font-size: 1.5rem;
    color: rgb(0, 81, 255);
}


