.navbar {
    color: rgb(255, 255, 255);
}

.navbar > button {
    width: 100%;
}

.plannedTasks {
    width: 100%;
}

.plannedTasksBtn {
    width: 100%;
    margin-left: 0;
}

.dropdown-item {
    font-size: 1.5rem;
    font-weight: normal;
}

.dropdown-menu.show {
    left: 15rem;
}

.onAWeek {
    color: rgb(42, 109, 255);
    font-weight: bold;
}

h3 {
    font-size: 2rem;
}

a {
    font-size: 2rem;
}

.getModalWindowItem {
    width: 100%;
    padding-left: 2rem;
}

#modalBtn {
    border-radius: 50%;
    margin: 1rem 1rem 1rem 1rem;
}

#modalBtnImg {
    width: 1rem;
    height: 1.5rem;
}

.modalText {
    font-size: 2.0rem;
    color: rgb(42, 109, 255);
    font-weight: normal;
}